# OS
.DS_Store
Thumbs.db

# IDEs 
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# phpcq
/.phpcq
/phpunit.xml
/.phpunit.result.cache
/.cache
/.pdepend

# composer related
vendor/

# build
build/
build.properties
