# OS
.DS_Store
Thumbs.db

# IDEs 
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# phpcq
/.phpcq
/phpunit.xml
/.phpunit.result.cache

# composer related
vendor/
composer.lock

# build
build/
build.properties
